<h1>Artists Index</h1>
<ul>
    <%@artists.each do |artist|%>
        <li><%= link_to artist.name, artist_path(artist) %></li>
    <%end%>
</ul>
<div><%= link_to 'Create New Artist', new_artist_path %></div>