<form method="POST" action="/artists">
<div>
    <label>Name</label>
    <input type="text" name="artist[name]" id="artist[name]"></input>
</div>
<div>
    <label>Bio</label>
    <input type="text" name="artist[bio]" id="artist[bio]"></input>
</div>
<input type="submit" value="Create Artist">
</form>

