<div>
<form method = 'POST' action = '/artists'>
<label>Enter Genre Name</label>
<input type='text' name = 'artist[name]' />
<label>Enter the Bio<label/>
<input type='text' name = 'artist[bio]' />
<input type='submit' value = 'Create Artist'/>

</form>
</div>