<h2>Create New Artist</h2>

<p>
<%= form_for(Artist.new) do |f| %>
    Name : <%=f.text_field :name%><br>
    Bio  : <%=f.text_area :bio, :cols => "50", :rows => "10"%><br>
    <%=f.submit%>
<% end %>
</p>