<form method="POST" action="/artists">
    <div>
        <label>My artist name </label><input type="text" name="artist[name]" />
    </div>
    <div>
        <label>My Bio</label><input type="text" name="artist[bio]" />
    </div>
    <input type="submit" value="Create Artist" />
</form>