<html>
  <form action = "/artists" method = "POST">
  <div>
    <label>My artist name:</label>
    <input type = "text" name = "artist[name]"/>
  </div>
  <div>
    <label>My artist bio:</label>
    <input type = "text" name = "artist[bio]"/>
 </div>
   <input type = "submit" value = "Create Artist" />

  </form>
</html>