 <html>
  <form action = "/songs" method = "POST">
  <div>
    <label>Song Name:</label>
    <input type = "text" name = "song[name]"/>
  </div>

  <div>
    <label>Song Artist:</label>
    <input type = "text" name = "song[artist_id]"/>
  </div>

  <div>
    <label>Song Genre:</label>
    <input type = "text" name = "song[genre_id]"/>
  </div>
   <input type = "submit" value = "Create Song" />

  </form>
</html>